@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');

*{
    border: 0px;
    margin: 0px;
}
.xplore-page{
    background-color: #000000eb;
}
#xplore{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

}
.oneimage{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;


    justify-content: center;
    align-items: center;
}
.xplore-div{
    padding: 45px;
}
.xplore-images{
    height: 230px;
    width: 300px;
    border-radius: 1rem;
}
.xplore-places{
    color: white;
    font-size: 1.5rem;
}
.xplore-div{
    position: relative;
    height: 230px;
    width: 300px;
   

}
.thecard{
    position: absolute;
    height: 230px;
    width: 300px;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
  
}
.thecard:hover{
    transform: rotateY(180deg);
}
.frontside{
    position: absolute;
    height: 230px;
    width: 300px;
    backface-visibility: hidden;
    /* background:red; */
    color: white;
    border-radius: 1rem;
    
}
.backside{
    position: absolute;
    height: 230px;
    width: 300px;
    backface-visibility: hidden;
    background:green;
    color: white;
    transform: rotateY(180deg);
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 0.9rem;
    
    
    border-radius: 1rem;
    padding:0.3rem;

}
#heading-page{
    color: white;
    text-align: center;
    padding-top:1rem;
    
}
.location{
    color: white;
}
.location:hover{
    color: green;
}
.location i{
    font-size: 2rem;
}
.weather{
    
    height: 300px;
    margin-left: 40%;

    width: 20%;

    background-color: green;
    
    border-radius: 2rem;
    padding: 1rem;
    
}
@media(max-width:1150px) {
    .weather {
        height: 300px;
        margin-left: 37.5%;
    
        width: 25%;
    
        background-color: green;
        
        border-radius: 2rem;
        padding: 1rem;
    }
}
@media(max-width:930px) {
    .weather {
        height: 300px;
        margin-left: 35%;
    
        width: 30%;
    
        background-color: green;
        
        border-radius: 2rem;
        padding: 1rem;
    }
}
@media(max-width:760px) {
    .weather {
        height: 300px;
        margin-left: 32%;
    
        width: 36%;
    
        background-color: green;
        
        border-radius: 2rem;
        padding: 1rem;
    }
}
@media(max-width:635px) {
    .weather {
        height: 300px;
        margin-left: 25%;
    
        width: 50%;
    
        background-color: green;
        
        border-radius: 2rem;
        padding: 1rem;
    }
}
@media(max-width:465px) {
    .weather {
        height: 300px;
        margin-left: 20%;
    
        width: 60%;
    
        background-color: green;
        
        border-radius: 2rem;
        padding: 1rem;
    }
}
@media(max-width:390px) {
    .weather {
        height: 300px;
        margin-left: 15%;
    
        width: 70%;
    
        background-color: green;
        
        border-radius: 2rem;
        padding: 1rem;
    }
}

.input{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    
    
  
}

.inputValue{
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 8px;
    margin: 1rem;
    font-size: 1rem;
   
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.display{
    text-align: center;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.button{
    border-radius: 1rem;
    cursor: pointer;
    padding: 5px;
    
}
.button:hover{
    cursor: pointer;
    color: rgb(4, 94, 4);
}
#weather-check{
    color: white;
    text-align: center;
    margin: 1rem;
    padding-top: 2rem;
   
}
.display{
    padding-top: 3rem;
    font-size: 1rem;
    color: white;
    
}
.desc{
    padding-top: 1rem;
}
.feel{
    padding-top: 0.5rem;
}
#bicyclemove{
    color: green;
}
#bicycle{
    color: white;
}
/* #bicyclemove i{
    font-size: 2rem;
    padding: 10px;
    color: green;
    
    animation-name: bicyclee;
    animation-duration: 20s;
animation-iteration-count: infinite;
animation-delay: 1s;
animation-timing-function: ease-in-out;

}*/
#bicyclemove i{
    display: none   ;

}
/*@keyframes bicyclee{
0%{
margin-left: 0;

}
20%{

margin-left: 75rem;
}
50%{
margin-left: 75rem;
-ms-transform: rotateY(180deg);
-webkit-transform: rotateY(180deg);
transform: rotateY(180deg);
}
70%{
margin-left: 0;
}
} */

@media (min-width: 0px) and (max-width: 380px) {
	#bicyclemove i{
        display: block;
        font-size: 2rem;
        padding: 10px;
        color: green;
        
        animation-name: bicyclee;
        animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    
    }
    @keyframes bicyclee{
    0%{
    margin-left: 0;
    
    }
    20%{
    
    margin-left: 12rem;
    }
    50%{
    margin-left: 12rem;
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    }
    70%{
    margin-left: 0;
    }
    }
}
@media (min-width: 1200px) {
	#bicyclemove i{
        display: block;
        font-size: 2rem;
        padding: 10px;
        color: green;
        
        animation-name: bicyclee;
        animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    
    }
    @keyframes bicyclee{
    0%{
    margin-left: 0;
    
    }
    20%{
    
    margin-left: 75rem;
    }
    50%{
    margin-left: 75rem;
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    }
    70%{
    margin-left: 0;
    }
    }
}