@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.faqs {
    background-color: #000000eb;
}

.faqs h1 {
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
}

.faqs h2 {
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: white;
    /* justify-content: center;
    text-align: center; */
    margin: 1rem;
    padding: 10px;
}

.faqs p {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 300;


}

.button {
    padding: 5px;
    border-radius: 66px;
    background-color: #000000eb;
    color: white;
    border: none;
    cursor: pointer;
}


.info {
    background-color: #518651f2;
    margin: 1rem;
    padding: 10px;
    border-radius: 15px;
}

.para {
    display: none;
    font-family: 'Ubuntu', sans-serif;


}